.logo-container {
	margin-top: 10px;
}

.perm_name {
	position: relative;
	left: 7px;
	top: -2px;
}

.panel-left {
	float: left;
}

.user-info {
	margin-left: 15px;
}

.float-left {
	float: left !important;
}

.add-bottom-20 {
	margin-bottom: 20px;
}

.required {
	font-size: 11px;
	color: #F00;
}

.required-info {
	font-size: 11px;
	font-style: italic;
}
