body { 
	margin:0; 
	padding:20px; 
	font:12px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
	
/* ---- Some Resets ---- */

p,
table, caption, td, tr, th {
	margin:0;
	padding:0;
	font-weight:normal;
}

/* ---- Paragraphs ---- */

p {
	margin-bottom:15px;
}
	
/* ---- Table ---- */

table {
	border-collapse:collapse;
	margin-bottom:15px;
	width:100%;
}

caption {
	text-align:left;
	font-size:15px;
	padding-bottom:10px;
}

table td,
table th {
	padding:5px;
	border:1px solid #000;
	border-width: 1px 1px 1px 1px;
}
	
thead th {
	/*background:#91c5d4;*/
}
		
thead th[colspan], thead th[rowspan] {
	/*background:#66a9bd;*/
}
	
tbody th, tfoot th {
	text-align:left;
	/*background:#91c5d4;*/
}
	
tbody td, tfoot td {
	text-align:center;
	/*background:#d5eaf0;*/
}
	
tfoot th {
	/*background:#b0cc7f;*/
}
	
tfoot td {
	/*background:#d7e1c5;*/
	font-weight:bold;
}	
		
tbody tr.odd td { 
	/*background:#bcd9e1;*/
}