html,body {
position:relative;
height:100%;
}

body {
background:#fff;
font-size:12px;
color:#424242;
}

a {
color:#293c4e;
-webkit-transition:.25s;
transition:.25s;
}

button,a:hover,a:active,a:focus {
color:#2e4c69;
outline:0!important;
text-decoration:none;
}

.checkbox.checkbox-theme label:before {
content:"";
display:inline-block;
width:20px;
height:20px;
position:absolute;
left:0;
top:0;
background-color:#fff;
border:1px solid #e0e0e0;
transition:color .2s linear 0;
}

.checkbox.checkbox-theme label::after {
display:inline-block;
height:20px;
position:absolute;
left:3.6px;
top:1px;
font-size:12px;
transition:color .2s linear 0;
}

.checkbox.checkbox-theme input[type=checkbox]:checked + label::after {
font-family:FontAwesome;
content:"\F00C";
}

.radio.radio-theme label:before {
content:"";
display:inline-block;
width:20px;
height:20px;
position:absolute;
left:0;
top:0;
background-color:#fff;
border:1px solid #e0e0e0;
transition:color .2s linear 0;
border-radius:50%;
-webkit-border-radius:50%;
}

.radio.radio-theme label::after {
display:inline-block;
height:20px;
position:absolute;
left:4.8px;
top:2px;
font-size:12px;
transition:color .2s linear 0;
}

.radio.radio-theme input[type=radio]:checked + label::after {
font-family:ionIcons;
content:"\f21b";
}

.form-horizontal .checkbox.checkbox-theme,.form-horizontal .radio.radio-theme,.checkbox.checkbox-theme label,.radio.radio-theme label {
min-height:16px;
}

.input-group-addon {
line-height:1.43857;
}

.form-control,.wysihtml5-sandbox {
background-color:#fafafa;
color:rgba(0,0,0,0.6);
font-size:14px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
border:1px solid #eee;
box-shadow:none;
}

.form-control:focus,.wysihtml5-sandbox:hover {
border:1px solid #e0e0e0;
background:#FFF;
box-shadow:none;
}

.form-group.has-success label {
color:#00a65a;
}

.form-group.has-success .form-control {
box-shadow:none;
border-color:#00a65a!important;
}

.form-group.has-warning label {
color:#f39c12;
}

.form-group.has-warning .form-control {
box-shadow:none;
border-color:#f39c12!important;
}

.form-group.has-error label {
color:#f56954;
}

.form-group.has-error .form-control {
box-shadow:none;
border-color:#f56954!important;
}

label {
font-family:'Open Sans',sans-serif;
font-size:14px;
font-weight:600;
color:#616161;
margin-bottom:10px;
}

.dropdown-menu {
-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.07);
-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.07);
box-shadow:0 1px 3px 0 rgba(0,0,0,0.07);
border:1px solid rgba(0,0,0,0.05);
padding:0;
}

.dropdown-menu > li > a {
font-size:12px!important;
color:#5e5e5e;
line-height:20px!important;
padding:5px 10px!important;
}

.dropdown-menu > li > a > i {
font-size:12px!important;
width:15px!important;
display:inline-block!important;
}

.dropdown-menu > li > a:hover {
background-color:rgba(0,0,0,0.04);
color:#5e5e5e;
}

.progress,.progress-bar {
box-shadow:none;
}

footer:after,footer:before,.leftside .title:after,.leftside .title:before,.leftside .nav-profile:after,.leftside .nav-profile:before,.leftside .nav-sidebar > li > a:after,.leftside .nav-sidebar > li > a:before,.nav.nav-sidebar > li > a:after,.nav.nav-sidebar > li > a:before,.panel-title:after,.page-heading:after,.page-heading:before,.panel-title:before,.panel-footer:after,.panel-footer:before {
display:table;
content:" ";
}

header {
position:absolute;
top:0;
left:0;
right:0;
z-index:9999;
}

header .navbar {
background:rgba(255,255,255,0.99);
height:50px;
margin-bottom:0;
margin-left:240px;
box-shadow:0 1px 2px 0 rgba(0,0,0,0.06);
-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.06);
padding:0 0 0 20px;
}

header .logo {
color:#FFF;
font-size:20px;
width:240px;
font-weight:600;
line-height:50px;
display:block;
text-align:center;
float:left;
-webkit-transition:0;
transition:0;
padding:0;
}

header .logo i {
margin:0 8px 0 -20px;
}

header .navbar .nav a {
color:#5e5e5e;
font-size:12px;
line-height:14px;
}

header .navbar .nav a > i {
font-size:20px;
}

header .navbar .sidebar-toggle {
float:left;
background-color:transparent;
background-image:none;
margin:8px 0 8px 5px;
padding:9px 5px;
}

header .navbar .sidebar-toggle:hover .icon-bar {
background:#999;
}

header .navbar .sidebar-toggle .icon-bar {
display:block;
width:22px;
height:2px;
background:#333;
}

header .navbar .sidebar-toggle .icon-bar + .icon-bar {
margin-top:4px;
}

header .navbar .navbar-form .form-control {
font-size:13px;
height:34px;
background-color:#fafafa;
-webkit-transition:.25s;
transition:.25s;
border-color:#f5f5f5;
}

header .navbar .navbar-form .form-control:focus {
background-color:#fff;
}

header .navbar .navbar-header .navbar-form button {
background:#fff;
-webkit-border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
border-radius:0 5px 5px 0;
}

header .navbar .nav > li > a:hover,header .nav > li > a:focus,header .nav .open > a,header .nav .open > a:hover,header .nav .open > a:focus {
background-color:transparent;
color:#9b9b9b;
}

header .navbar .nav > li > a > .label {
position:absolute;
top:7px;
right:0;
min-width:22px;
min-height:22px;
font-size:10px;
line-height:1em;
text-align:center;
border:3px solid #FFF;
-webkit-transition:.25s;
transition:.25s;
padding:3px 5px;
}

header .nav .open > a > .label {
opacity:0;
-webkit-transition:.25s;
transition:.25s;
}

header .navbar .nav > li > a.btn {
margin-left:15px;
padding:15px 20px;
}

header .navbar-right {
margin:0 20px 0 0;
}

header .dropdown-menu {
margin-top:-8px!important;
}

.rightside,.leftside {
min-height:100%;
display:table-cell;
}

.leftside {
width:240px;
top:0;
padding-top:60px;
vertical-align:top;
position:relative;
z-index:4;
}

.rightside {
padding-top:50px;
background:#f2f2f2;
}

.auth-page,header .logo,.leftside,.leftside .widget .footer {
background:#293c4e;
}

.fixed-header > header,.fixed > header,.fixed-leftside .leftside,.fixed-leftside header .logo,.fixed .leftside,.fixed .navbar {
position:fixed;
}

.fixed > header {
top:0;
right:0;
left:0;
}

.fixed .navbar {
left:0;
right:0;
}

.fixed .wrapper,.fixed-leftside .wrapper {
display:inherit;
}

.fixed-leftside .rightside {
margin-left:240px;
}

.sidebar-sm .rightside {
padding-left:80px;
}

.fixed-leftside.sidebar-sm .rightside {
padding-left:0;
}

.fixed-leftside .leftside .widget .footer {
position:fixed;
z-index:999;
bottom:0;
left:0;
}

.wrapper {
width:100%;
height:100%;
display:table;
}

.container-fluid {
position:relative;
padding:15px 30px 48px;
}

.sidebar-sm .leftside,.sidebar-sm header .logo {
width:80px;
z-index:999;
position:fixed;
}

.sidebar-sm .leftside .nav-profile {
margin-bottom:20px;
padding:0 15px;
}

.sidebar-sm .leftside .nav-sidebar > li > a > i {
font-size:20px;
width:100%;
text-align:center;
}

.sidebar-sm .leftside .nav-profile span {
display:inline;
}

.sidebar-sm .rightside,.sidebar-sm header .navbar {
margin-left:80px;
}

.sidebar-sm .leftside .slimScrollDiv {
overflow:inherit!important;
}

.sidebar-sm .leftside .nav-sidebar ul {
position:absolute!important;
z-index:9999!important;
margin-left:80px!important;
margin-top:-53px!important;
background-color:#fff;
min-width:180px;
border-radius:3px;
box-shadow:0 0 3px 0 rgba(0,0,0,0.1);
}

.sidebar-sm .leftside .nav-sidebar ul:after {
right:100%;
top:28px;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
margin-top:-7px;
border-color:rgba(37,54,70,0) #fff rgba(37,54,70,0) rgba(37,54,70,0);
border-width:7px;
}

.sidebar-sm .leftside .nav-sidebar ul > li > a {
color:rgba(0,0,0,0.5);
padding:10px 20px;
}

.sidebar-sm .leftside .nav-sidebar ul > li.active > a,.sidebar-sm .leftside .nav-sidebar ul > li > a:hover {
background-color:rgba(0,0,0,0.05);
color:rgba(0,0,0,0.5);
}

.help-block {
font-size:11px;
}

.page-header {
margin:10px 0 20px;
}

.page-header > small {
color:#666;
display:block;
margin-top:5px;
}

.full-width,.iframe iframe {
width:100%!important;
}

.pallete-item {
width:140px;
float:left;
margin:0 0 20px 20px;
}

.palette {
font-size:14px;
line-height:1.214;
color:#fff;
text-transform:uppercase;
margin:0;
padding:15px;
}

.palette dt,.palette dd {
line-height:1.429;
}

.palette dt {
display:block;
font-weight:700;
opacity:.8;
filter:alpha(opacity=80);
}

.palette dd {
font-weight:300;
margin-left:0;
opacity:.8;
filter:alpha(opacity=80);
-webkit-font-smoothing:subpixel-antialiased;
}

.palette-white {
background-color:#FFF!important;
}

.palette-turquoise {
background-color:#1abc9c!important;
}

.palette-green-sea {
background-color:#16a085!important;
}

.palette-emerald {
background-color:#2ecc71!important;
}

.palette-belize-hole {
background-color:#2980b9!important;
}

.palette-amethyst {
background-color:#9b59b6!important;
}

.palette-wisteria {
background-color:#8e44ad!important;
}

.palette-wet-asphalt {
background-color:#34495e!important;
}

.palette-midnight-blue {
background-color:#2c3e50!important;
}

.palette-sun-flower {
background-color:#f1c40f!important;
}

.palette-orange {
background-color:#f39c12!important;
}

.palette-pumpkin {
background-color:#d35400!important;
}

.palette-pomegranate {
background-color:#c0392b!important;
}

.palette-clouds {
background-color:#ecf0f1!important;
}

.palette-silver {
background-color:#bdc3c7!important;
}

.palette-concrete {
background-color:#95a5a6!important;
}

.palette-asbestos {
background-color:#7f8c8d!important;
}

.rightside > .page-head {
box-shadow:none;
position:relative;
background-color:transparent;
margin:0;
padding:30px;
}

.rightside > .page-head > .page-title {
display:inline-block;
font-size:24px;
color:rgba(0,0,0,0.7);
margin:0;
}

.rightside > .page-head > .page-title > small {
font-size:12px;
display:block;
font-weight:300;
margin-top:5px;
color:rgba(0,0,0,0.5);
}

.rightside > .page-head > .breadcrumb {
position:absolute;
top:25px;
right:30px;
float:right;
background-color:transparent;
font-size:12px;
border:0;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
padding:30px 0 20px 30px;
}

.rightside > .page-head > .breadcrumb > li > a.active {
color:#9e9e9e;
}

.rightside > .page-head > .breadcrumb > li + li:before {
content:'\f105';
font-family:FontAwesome;
}

.leftside .nav-sidebar {
list-style:none;
margin:0;
padding:0;
}

.leftside .nav-sidebar > li {
margin:0;
padding:0;
}

.leftside .nav-sidebar > li.active > a {
color:#f6f6f6;
background:rgba(0,0,0,0.1);
position:relative;
}

.leftside .nav-sidebar > li > a {
display:block;
padding:12px 20px;
}

.leftside .nav-sidebar > li > a > i {
width:25px;
font-size:14px;
display:inline-block;
}

.leftside .nav-sidebar > li > a > i.pull-right {
width:10px;
font-size:10px;
margin-top:4px;
}

.leftside .nav-sidebar ul {
display:none;
list-style:none;
background:rgba(0,0,0,0.1);
margin:0;
padding:5px 0;
}

.leftside .nav-sidebar ul > li > a {
display:block;
font-weight:400;
margin:0;
padding:8px 20px 8px 47px;
}

.leftside .nav-sidebar ul > li.active > a,.leftside .nav-sidebar ul > li > a:hover {
color:#fff;
background-color:rgba(255,255,255,0.03);
}

.leftside .nav-sidebar ul > li > a > i {
width:20px;
}

.leftside .label {
margin-top:1px;
text-transform:uppercase;
padding:5px 7px;
}

.leftside .form-control,.leftside .form-control:focus {
border:0;
box-shadow:none!important;
-webkit-box-shadow:none!important;
}

.dropdown-box .dropdown-menu {
background:rgba(255,255,255,0.99);
width:350px;
top:100%;
border:1px solid rgba(0,0,0,0.05);
-webkit-border-radius:4px!important;
-moz-border-radius:4px!important;
border-radius:4px!important;
margin:-5px 0 0!important;
padding:0!important;
}

.dropdown-box .dropdown-menu > li.header {
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
color:#444;
font-size:13px;
line-height:20px;
padding:15px 20px;
}

.dropdown-box .dropdown-menu > li.header i {
color:#696969;
margin-right:10px;
font-size:20px;
float:left;
}

.dropdown-box .dropdown-menu > li.footer > a {
-webkit-border-radius:0 0 4px 4px;
-moz-border-radius:0 0 4px 4px;
border-radius:0 0 4px 4px;
font-size:12px;
background-color:transparent;
color:#444;
text-align:center;
padding:12px 8px!important;
}

.dropdown-box.dropdown-notifications > .dropdown-menu > li ul,.dropdown-box.dropdown-tasks > .dropdown-menu > li ul {
list-style:none;
overflow-x:hidden;
margin:0;
padding:0;
}

.dropdown-box.dropdown-notifications > .dropdown-menu > li ul > li > a,.dropdown-box.dropdown-tasks > .dropdown-menu > li ul > li > a {
display:block;
white-space:nowrap;
border-bottom:1px solid #eee;
background:#fff;
}

.dropdown-box.dropdown-notifications > .dropdown-menu > li ul > li > a:hover,.dropdown-box.dropdown-tasks > .dropdown-menu > li ul > li > a:hover {
background:rgba(0,0,0,0.04);
text-decoration:none;
}

.dropdown-box.dropdown-notifications > .dropdown-menu > li ul > li > a {
font-size:12px;
color:#444;
padding:15px;
}

.dropdown-box.dropdown-notifications > .dropdown-menu > li ul > li > a > i {
font-size:16px;
margin:5px 15px 5px 7px;
padding:6px 0;
}

.dropdown-box.dropdown-tasks > .dropdown-menu > li ul > li > a {
padding:15px 20px;
}

.dropdown-box.dropdown-tasks > .dropdown-menu > li ul > li > a > h3 {
font-size:14px;
color:#666;
margin:0 0 10px;
padding:0;
}

.dropdown-box.dropdown-tasks > .dropdown-menu > li ul > li > a > .progress {
margin:0;
padding:0;
}

.leftside a {
color:rgba(255,255,255,0.5);
font-size:12px;
}

.leftside a:hover {
text-decoration:none;
}

.leftside .title {
color:rgba(255,255,255,0.5);
font-size:11px;
text-transform:uppercase;
display:block;
border-top:1px solid rgba(255,255,255,0.05);
margin:20px;
padding:15px 0 0;
}

.leftside .title a.pull-right {
margin-top:-2px;
margin-right:3px;
}

.leftside .nav-profile {
position:relative;
width:100%;
margin-top:5px;
padding:0 20px;
}

.toggle-leftside .leftside .nav-profile {
background-color:rgba(0,0,0,0.05);
}

.leftside .nav-profile > .info {
float:left;
width:110px;
margin-top:5px;
}

.leftside .nav-profile > .info > a {
color:#FFF;
font-weight:700;
font-size:14px;
}

.leftside .nav-profile > .info > ul {
margin-top:5px;
margin-left:0;
}

.leftside .nav-profile > .info > ul > li {
padding:0;
}

.leftside .nav-profile > .info > ul > li > a {
color:#FFF;
border-radius:3px;
font-size:12px;
padding:5px;
}

.leftside .nav-profile > .button {
font-size:22px;
float:right;
color:#FFF;
margin:10px 0 0;
}

.toggle-leftside .leftside .nav-profile > .info {
opacity:1;
transition:all .35s ease-in-out 0;
-webkit-transition:all .35s ease-in-out 0;
}

.leftside .nav-profile > .thumb > img {
float:left;
width:50px;
height:50px;
margin-right:12px;
transition:all .15s ease-in-out 0;
-webkit-transition:all .15s ease-in-out 0;
border:3px solid transparent;
}

.leftside .nav-profile > .thumb > span.label {
position:absolute;
left:50px;
top:30px;
font-size:10px;
transition:all .15s ease-in-out 0;
-webkit-transition:all .15s ease-in-out 0;
border-color:#293c4e;
border-style:solid;
border-width:3px;
padding:3px 5px;
}

.toggle-leftside .leftside .nav-profile > .thumb > img {
right:140px!important;
border-color:rgba(0,0,0,0.2);
}

.toggle-leftside .leftside .nav-profile > .thumb > span.label {
right:133px!important;
}

.leftside .widget {
position:relative;
}

.leftside .widget .chat ul {
list-style-type:none;
margin:0;
padding:0;
}

.leftside .widget .list > a,.leftside .widget .chat ul > li {
display:inline-block;
width:100%;
padding:0 20px;
}

.leftside .widget .list > a {
padding:6px 20px;
}

.leftside .widget .list > a:hover {
background:rgba(0,0,0,0.2);
}

.leftside .widget .list > a > i {
margin-top:8px;
}

.leftside .widget .list img {
width:20px;
height:20px;
border-radius:50%;
-webkit-border-radius:50%;
margin:4px 0;
}

.leftside .widget .chat img {
width:40px;
height:40px;
border-radius:50%;
-webkit-border-radius:50%;
}

.leftside .widget .name {
color:rgba(255,255,255,0.5);
font-size:12px;
float:left;
margin:6px 0 5px 15px;
}

.leftside .widget .chat ul > li span {
float:right;
font-size:11px;
color:rgba(255,255,255,0.3);
margin:3px 0 0;
}

.leftside .widget .chat ul > li span > i {
margin-right:2px;
}

.leftside .widget .chat .message {
width:140px;
font-weight:400;
font-size:11px;
float:right;
color:rgba(255,255,255,0.5);
padding:8px 12px;
}

.leftside .widget .chat ul > li {
position:relative;
padding:0 20px 5px;
}

.leftside .widget .chat .right {
color:#FFF;
padding:10px;
}

.leftside .widget .chat .right .message {
width:170px!important;
margin-right:10px;
color:rgba(255,255,255,0.8);
background:#16a085!important;
}

.leftside .widget .chat .right .message:after {
border-right-color:#16a085!important;
left:100%!important;
border-left-color:#16a085!important;
border-right:0!important;
}

.leftside .widget .chat ul > li .message {
background:rgba(0,0,0,0.15);
position:relative;
border-radius:3px;
-webkit-border-radius:3px;
}

.leftside .widget .chat ul > li .message:after {
right:100%;
top:16px;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
margin-top:-6px;
border-color:rgba(30,43,56,0) rgba(0,0,0,0.15) rgba(30,43,56,0) rgba(30,43,56,0);
border-width:6px;
}

.leftside .widget .footer {
width:240px;
height:60px;
padding:15px 20px;
}

.leftside .widget .footer input[type="text"] {
font-size:12px;
height:34px;
background:rgba(0,0,0,0.3);
color:rgba(255,255,255,0.5);
border-radius:5px;
-webkit-border-radius:5px;
padding:7px 15px;
}

.panel-center {
text-align:center;
width:500px;
margin:0 auto;
}

.table > thead > tr > th {
border-bottom:0;
font-weight:600;
text-transform:uppercase;
color:rgba(0,0,0,0.7);
}

.table > tbody > tr > td,.table > tbody > tr > th,.table > tfoot > tr > td,.table > tfoot > tr > th,.table > thead > tr > td,.table > thead > tr > th {
border-top:1px solid rgba(0,0,0,0.08);
padding:12px;
}

.table.table-bordered > thead > tr > th {
border-bottom:1px solid rgba(0,0,0,0.08)!important;
}

.table-bordered > thead > tr > td,.table-bordered > thead > tr > th {
border-bottom-width:1px;
border-color:rgba(0,0,0,0.08);
}

.table.table-bordered,.table-bordered > tbody > tr > td,.table-bordered > tbody > tr > th,.table-bordered > tfoot > tr > td,.table-bordered > tfoot > tr > th,.table-bordered > thead > tr > td,.table-bordered > thead > tr > th {
border-color:rgba(0,0,0,0.08);
}

.dataTable select,div.dataTables_filter input {
background:#fefefe;
border:1px solid #d8dde5!important;
border-radius:3px;
padding:5px 10px;
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled {
background:transparent!important;
}

table.dataTable thead .sorting:after {
content:"\f106";
float:right;
font-family:fontawesome;
color:rgba(50,50,50,.5);
}

table.dataTable thead .sorting_asc:after {
content:"\f106";
float:right;
font-family:fontawesome;
}

table.dataTable thead .sorting_desc:after {
content:"\f107";
float:right;
font-family:fontawesome;
}

.bootstrap-wysihtml5-insert-image-modal h3,.bootstrap-wysihtml5-insert-link-modal h3 {
display:inline-block!important;
margin:0;
}

.input-group .input-group-addon {
background-color:#f5f5f5;
border-color:#eee;
}

.panel {
margin-bottom:30px;
position:relative;
border:0;
box-shadow:0 1px 3px 0 rgba(0,0,0,0.07);
-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.07);
}

.panel > .panel-title {
background-color:#f8f8f8;
color:#505050;
font-size:15px;
border-bottom:1px solid rgba(0,0,0,0.03);
border-radius:3px 3px 0 0;
-webkit-border-radius:3px 3px 0 0;
position:relative;
padding:13px 20px;
}

.panel > .panel-title > .panel-tools > a {
color:rgba(0,0,0,0.6);
font-size:12px;
padding:0 5px;
}

.panel > .panel-title > .panel-tools > a:hover {
color:rgba(0,0,0,0.7);
}

.panel > .panel-body {
position:relative;
padding:20px;
}

.panel-empty {
background:transparent;
border:3px dashed rgba(0,0,0,0.1);
box-shadow:none;
-webkit-box-shadow:none;
}

.panel > .panel-footer {
background-color:#f8f8f8;
border:0;
border-top:0;
position:relative;
}

.panel-tile {
box-shadow:none;
-webkit-box-shadow:none;
}

.panel-tile span.label {
position:absolute;
top:-5px;
right:-5px;
border:3px solid #f2f2f2;
font-size:14px;
padding:4px 7px;
}

.panel-footer .nav-tabs {
position:absolute;
right:20px;
top:-1px;
border:0;
}

.panel-footer .nav-tabs > li > a {
border-radius:0;
-webkit-border-radius:0;
padding:11px 15px;
}

.panel-footer .nav-tabs > li > a,.panel-footer .nav-tabs > li > a:focus,.panel-footer .nav-tabs > li > a:hover {
background:transparent;
color:rgba(0,0,0,0.5);
border-color:transparent;
}

.panel-footer .nav-tabs > li.active > a,.panel-footer .nav-tabs > li.active > a:focus,.panel-footer .nav-tabs > li.active > a:hover {
background:#FFF;
color:rgba(0,0,0,0.6);
border-color:transparent;
}

.panel:after {
content:"";
transition:all .15s ease-in-out 0;
-webkit-transition:all .15s ease-in-out 0;
}

.panel.panel-refresh:after {
content:"";
position:absolute;
z-index:9;
top:0;
left:0;
height:100%;
width:100%;
border-radius:5px;
-webkit-border-radius:5px;
background:rgba(255,255,255,0.6);
}

.panel.panel-refresh i.fa-circle-o-notch {
position:absolute;
z-index:10;
top:50%;
left:50%;
font-size:28px;
color:#bdbdbd;
}

.nav-tabs.tab-grey > li.active > a,.nav-tabs.tab-grey > li.active > a:focus,.nav-tabs.tab-grey > li.active > a:hover {
background-color:#fafafa;
color:#616161;
border-color:transparent;
}

.nav-tabs.tab-grey > li > a:hover {
background-color:#fafafa;
color:#616161;
border-color:transparent;
}

.media-content.media-list > .media {
position:relative;
border-bottom:1px solid rgba(0,0,0,0.05);
margin:0 0 15px;
padding:10px 20px 30px;
}

.media-content.media-list .media-heading {
float:left;
color:#616161;
font-size:13px;
font-weight:600;
padding:3px 5px;
}

.media-content.media-list .media-item {
float:right;
color:#a9adaf;
font-size:11px;
position:absolute;
top:15px;
right:20px;
}

.media-content .media-body > p {
color:rgba(0,0,0,0.5);
font-size:12px;
min-height:35px;
padding:5px;
}

.media-content .media-object {
margin-top:5px;
}

.media-content.media-list > .media .box {
background-color:#e1f5fe;
border-radius:5px;
-webkit-border-radius:5px;
position:relative;
margin-top:5px;
padding:15px;
}

.media-content.media-list > .media .box:after {
bottom:100%;
left:20px;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
margin-left:-6px;
border-color:rgba(255,255,255,0) rgba(255,255,255,0) #e1f5fe;
border-width:6px;
}

.media-content.media-list > .media .box.unread {
background-color:#fff8e1;
}

.media-content.media-list > .media .box.unread:after {
border-bottom-color:#fff8e1;
}

.media-content .media-footer > .media-tools {
position:absolute;
right:20px;
bottom:10px;
transition:all .15s ease-in-out 0;
-webkit-transition:all .15s ease-in-out 0;
}

.media-content .media-footer > .media-tools > a {
color:#c1c4c6;
font-size:12px!important;
margin-left:10px;
}

.media-content .media-footer > .media-tools > a > i {
color:#c1c4c6;
font-size:12px!important;
}

.media-content .media-footer > .media-tools > a:hover {
color:#969a9c;
}

.timeline-centered {
position:relative;
margin-bottom:30px;
}

.timeline-centered:before {
content:'';
position:absolute;
display:block;
width:4px;
background:#eee;
left:10%;
top:20px;
bottom:20px;
margin-left:-4px;
}

.timeline-centered .timeline-entry {
position:relative;
width:90%;
float:right;
margin-bottom:70px;
clear:both;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
margin-left:0;
margin-right:-18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
left:auto;
right:-100px;
text-align:left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
margin-left:0;
margin-right:70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
left:auto;
right:0;
margin-left:0;
margin-right:-9px;
-moz-transform:rotate(180deg);
-o-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-ms-transform:rotate(180deg);
transform:rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
position:relative;
margin-left:-22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
position:absolute;
left:-100px;
text-align:right;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
margin-top:7px;
color:#37474f;
padding:0 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
font-size:15px;
font-weight:700;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
font-size:12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
background:transparent;
color:#fff;
display:block;
width:40px;
height:40px;
margin-top:7px;
-webkit-background-clip:padding-box;
-moz-background-clip:padding;
background-clip:padding-box;
-webkit-border-radius:20px;
-moz-border-radius:20px;
border-radius:20px;
text-align:center;
line-height:32px;
font-size:15px;
float:left;
border-style:solid;
border-width:4px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
position:relative;
background:#fff;
margin-left:70px;
-webkit-background-clip:padding-box;
-moz-background-clip:padding;
background-clip:padding-box;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
box-shadow:0 1px 2px 0 rgba(0,0,0,0.05);
border:1px solid #e0e0e0;
padding:15px 20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after,.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:before {
right:100%;
top:25px;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
pointer-events:none;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
margin-top:-10px;
border-color:rgba(255,255,255,0) #fff rgba(255,255,255,0) rgba(255,255,255,0);
border-width:10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:before {
margin-top:-11px;
border-color:rgba(224,224,224,0) #e0e0e0 rgba(224,224,224,0) rgba(224,224,224,0);
border-width:11px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
color:#737881;
font-size:12px;
line-height:1.428571429;
margin:0;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
margin-top:15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
font-size:16px;
margin-bottom:10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
color:#37474f;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
-webkit-opacity:.6;
-moz-opacity:.6;
opacity:.6;
-ms-filter:alpha(opacity=60);
filter:alpha(opacity=60);
font-size:13px;
}

.btn,.btn.disabled,.btn[disabled] {
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-transition:.25s;
transition:.25s;
border-color:transparent;
}

.btn:focus,.btn:active,.btn:hover {
border-color:transparent;
}

.file-inputs:hover {
color:#4d4d4d!important;
}

.btn.btn-default {
background-color:#fafafa;
color:#666;
}

.btn.btn-default:hover,.btn.btn-default:active,.btn.btn-default.hover {
background-color:#f4f4f4!important;
}

.btn.btn-primary {
background-color:#293c4e;
}

.btn.btn-primary:hover,.btn.btn-primary:active,.btn.btn-primary.hover {
background-color:#1d364f;
}

.btn.btn-success {
background-color:#27ae60;
}

.btn.btn-success:hover,.btn.btn-success:active,.btn.btn-success.hover {
background-color:#1c8348;
}

.btn.btn-info {
background-color:#3498db;
}

.btn.btn-info:hover,.btn.btn-info:active,.btn.btn-info.hover {
background-color:#2980b9;
}

.btn.btn-danger {
background-color:#e74c3c;
}

.btn.btn-danger:hover,.btn.btn-danger:active,.btn.btn-danger.hover {
background-color:#c0392b;
}

.btn.btn-warning {
background-color:#e67e22;
}

.btn.btn-warning:hover,.btn.btn-warning:active,.btn.btn-warning.hover {
background-color:#d35400;
}

.btn:active {
-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
-moz-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn:focus {
outline:none;
}

.btn.btn-file {
position:relative;
width:120px;
height:35px;
overflow:hidden;
}

.btn.btn-file > input[type='file'] {
display:block!important;
width:100%!important;
height:35px!important;
opacity:0!important;
position:absolute;
top:-10px;
cursor:pointer;
}

.btn.btn-link {
color:#666;
}

.btn.btn-white {
background-color:#FFF;
color:#666;
}

.btn-color:hover,.btn-color:active,.btn-color.hover {
color:#FFF;
opacity:.9;
}

.btn-label {
position:relative;
left:-12px;
display:inline-block;
background:rgba(0,0,0,0.15);
border-radius:3px 0 0 3px;
padding:6px 10px;
}

.btn-labeled {
border:0;
padding-top:0;
padding-bottom:0;
}

.btn-outline {
background-color:transparent!important;
color:inherit;
transition:all .5s;
}

.btn-primary.btn-outline {
color:#293c4e;
border-color:#293c4e!important;
}

.btn.btn-primary.btn-outline:hover,.btn.btn-primary.btn-outline:active,.btn.btn-primary.btn-outline.hover {
background-color:#293c4e!important;
}

.btn-success.btn-outline {
color:#27ae60;
border-color:#27ae60!important;
}

.btn-info.btn-outline {
color:#3498db;
border-color:#3498db!important;
}

.btn-warning.btn-outline {
color:#e67e22;
border-color:#e67e22!important;
}

.btn-danger.btn-outline {
color:#e74c3c;
border-color:#e74c3c!important;
}

.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-info.btn-outline:hover,.btn-warning.btn-outline:hover,.btn-danger.btn-outline:hover {
color:#fff;
}

.btn-circle {
width:30px;
height:30px;
text-align:center;
font-size:12px;
line-height:1.428571429;
border-radius:50%;
-webkit-border-radius:50%;
padding:6px 0;
}

.btn-circle.btn-lg {
width:50px;
height:50px;
font-size:18px;
line-height:1.33;
border-radius:25px;
padding:10px 16px;
}

.btn-circle.btn-xl {
width:70px;
height:70px;
font-size:24px;
line-height:1.33;
border-radius:35px;
padding:10px 16px;
}

.icheckbox_minimal,.iradio_minimal {
background-color:#FFF;
}

.btn-social {
position:relative;
padding-left:42px!important;
text-align:left;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
border:0;
}

.btn-social :first-child {
position:absolute;
left:0;
top:0;
bottom:0;
width:35px!important;
line-height:32px!important;
font-size:16px!important;
text-align:center;
border-right:0 solid rgba(0,0,0,0.2);
}

.btn-social.btn-lg {
padding-left:60px!important;
}

.btn-social.btn-sm {
padding-left:38px!important;
}

.btn-social.btn-xs {
padding-left:30px!important;
}

.btn-social.btn-xs :first-child {
line-height:20px;
width:20px;
font-size:1.2em;
}

.btn-social-icon {
position:relative;
text-align:left;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
height:36px;
width:32px;
border:0;
padding:0 0 0 38px !important;
}

.btn-social-icon :first-child {
position:absolute;
left:0;
top:0;
bottom:0;
line-height:36px!important;
font-size:16px!important;
border-right:0 solid rgba(0,0,0,0.2);
border:none;
text-align:center;
width:100%!important;
}

.btn-social-icon.btn-circle {
padding-left:36px!important;
}

.btn-social-icon.btn-lg {
padding-left:60px!important;
height:45px;
width:45px;
padding-right:0;
}

.btn-social-icon.btn-sm {
padding-left:38px!important;
height:30px;
width:30px;
padding-right:0;
}

.btn-social-icon.btn-xs {
padding-left:22px!important;
height:22px;
width:22px;
padding-right:0;
}

.btn-social-icon.btn-xs :first-child {
line-height:22px!important;
width:22px!important;
font-size:11px!important;
}

.btn-bitbucket {
color:#fff;
background-color:#205081;
border-color:rgba(0,0,0,0.2);
}

.btn-bitbucket:hover,.btn-bitbucket:focus,.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket {
color:#fff;
background-color:#183c60;
border-color:rgba(0,0,0,0.2);
}

.btn-bitbucket.disabled,.btn-bitbucket[disabled],fieldset[disabled] .btn-bitbucket,.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled:active,.btn-bitbucket[disabled]:active,fieldset[disabled] .btn-bitbucket:active,.btn-bitbucket.disabled.active,.btn-bitbucket[disabled].active,fieldset[disabled] .btn-bitbucket.active {
background-color:#205081;
border-color:rgba(0,0,0,0.2);
}

.btn-bitbucket .badge {
color:#205081;
background-color:#fff;
}

.btn-dropbox {
color:#fff;
background-color:#1087dd;
border-color:rgba(0,0,0,0.2);
}

.btn-dropbox:hover,.btn-dropbox:focus,.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox {
color:#fff;
background-color:#0d70b7;
border-color:rgba(0,0,0,0.2);
}

.btn-dropbox.disabled,.btn-dropbox[disabled],fieldset[disabled] .btn-dropbox,.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled:active,.btn-dropbox[disabled]:active,fieldset[disabled] .btn-dropbox:active,.btn-dropbox.disabled.active,.btn-dropbox[disabled].active,fieldset[disabled] .btn-dropbox.active {
background-color:#1087dd;
border-color:rgba(0,0,0,0.2);
}

.btn-dropbox .badge {
color:#1087dd;
background-color:#fff;
}

.btn-facebook {
color:#fff;
background-color:#3b5998;
border-color:rgba(0,0,0,0.2);
}

.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook {
color:#fff;
background-color:#30487b;
border-color:rgba(0,0,0,0.2);
}

.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active {
background-color:#3b5998;
border-color:rgba(0,0,0,0.2);
}

.btn-facebook .badge {
color:#3b5998;
background-color:#fff;
}

.btn-flickr {
color:#fff;
background-color:#ff0084;
border-color:rgba(0,0,0,0.2);
}

.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr {
color:#fff;
background-color:#d6006f;
border-color:rgba(0,0,0,0.2);
}

.btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active {
background-color:#ff0084;
border-color:rgba(0,0,0,0.2);
}

.btn-flickr .badge {
color:#ff0084;
background-color:#fff;
}

.btn-foursquare {
color:#fff;
background-color:#0072b1;
border-color:rgba(0,0,0,0.2);
}

.btn-foursquare:hover,.btn-foursquare:focus,.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare {
color:#fff;
background-color:#005888;
border-color:rgba(0,0,0,0.2);
}

.btn-foursquare.disabled,.btn-foursquare[disabled],fieldset[disabled] .btn-foursquare,.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled:active,.btn-foursquare[disabled]:active,fieldset[disabled] .btn-foursquare:active,.btn-foursquare.disabled.active,.btn-foursquare[disabled].active,fieldset[disabled] .btn-foursquare.active {
background-color:#0072b1;
border-color:rgba(0,0,0,0.2);
}

.btn-foursquare .badge {
color:#0072b1;
background-color:#fff;
}

.btn-github {
color:#fff;
background-color:#444;
border-color:rgba(0,0,0,0.2);
}

.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github {
color:#fff;
background-color:#303030;
border-color:rgba(0,0,0,0.2);
}

.btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active {
background-color:#444;
border-color:rgba(0,0,0,0.2);
}

.btn-github .badge {
color:#444;
background-color:#fff;
}

.btn-google-plus {
color:#fff;
background-color:#dd4b39;
border-color:rgba(0,0,0,0.2);
}

.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus {
color:#fff;
background-color:#ca3523;
border-color:rgba(0,0,0,0.2);
}

.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active {
background-color:#dd4b39;
border-color:rgba(0,0,0,0.2);
}

.btn-google-plus .badge {
color:#dd4b39;
background-color:#fff;
}

.btn-instagram {
color:#fff;
background-color:#3f729b;
border-color:rgba(0,0,0,0.2);
}

.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram {
color:#fff;
background-color:#335d7e;
border-color:rgba(0,0,0,0.2);
}

.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active {
background-color:#3f729b;
border-color:rgba(0,0,0,0.2);
}

.btn-instagram .badge {
color:#3f729b;
background-color:#fff;
}

.btn-linkedin {
color:#fff;
background-color:#007bb6;
border-color:rgba(0,0,0,0.2);
}

.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin {
color:#fff;
background-color:#005f8d;
border-color:rgba(0,0,0,0.2);
}

.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active {
background-color:#007bb6;
border-color:rgba(0,0,0,0.2);
}

.btn-linkedin .badge {
color:#007bb6;
background-color:#fff;
}

.btn-tumblr {
color:#fff;
background-color:#2c4762;
border-color:rgba(0,0,0,0.2);
}

.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr {
color:#fff;
background-color:#1f3346;
border-color:rgba(0,0,0,0.2);
}

.btn-tumblr.disabled,.btn-tumblr[disabled],fieldset[disabled] .btn-tumblr,.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled:active,.btn-tumblr[disabled]:active,fieldset[disabled] .btn-tumblr:active,.btn-tumblr.disabled.active,.btn-tumblr[disabled].active,fieldset[disabled] .btn-tumblr.active {
background-color:#2c4762;
border-color:rgba(0,0,0,0.2);
}

.btn-tumblr .badge {
color:#2c4762;
background-color:#fff;
}

.btn-twitter {
color:#fff;
background-color:#55acee;
border-color:rgba(0,0,0,0.2);
}

.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter {
color:#fff;
background-color:#309aea;
border-color:rgba(0,0,0,0.2);
}

.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active {
background-color:#55acee;
border-color:rgba(0,0,0,0.2);
}

.btn-twitter .badge {
color:#55acee;
background-color:#fff;
}

.btn-vk {
color:#fff;
background-color:#587ea3;
border-color:rgba(0,0,0,0.2);
}

.btn-vk:hover,.btn-vk:focus,.btn-vk:active,.btn-vk.active,.open .dropdown-toggle.btn-vk {
color:#fff;
background-color:#4a6a89;
border-color:rgba(0,0,0,0.2);
}

.btn-vk.disabled,.btn-vk[disabled],fieldset[disabled] .btn-vk,.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled:active,.btn-vk[disabled]:active,fieldset[disabled] .btn-vk:active,.btn-vk.disabled.active,.btn-vk[disabled].active,fieldset[disabled] .btn-vk.active {
background-color:#587ea3;
border-color:rgba(0,0,0,0.2);
}

.btn-vk .badge {
color:#587ea3;
background-color:#fff;
}

.icon-list {
margin:20px -15px 30px;
}

.icon-list div {
line-height:26px;
height:26px;
padding-left:10px;
}

.icon-list div i {
width:26px;
font-size:14px;
display:inline-block;
text-align:right;
margin-right:10px;
}

.icon-list div:hover i {
font-size:26px;
vertical-align:-4px;
}

#icons {
width:100%;
list-style:none;
text-align:left;
font-size:1px;
margin:0;
padding:0;
}

#icons li {
position:relative;
z-index:0;
display:inline-block;
width:42px;
border-radius:4px;
list-style:none;
text-align:center;
font-weight:400;
font-size:32px;
cursor:pointer;
padding:22px 35px;
}

.modal {
z-index:9999;
}

.modal-backdrop.in {
opacity:1;
background:rgba(53,58,61,0.7);
}

.modal-header {
color:#696969;
}

.modal-header i {
margin-right:7px;
}

.modal-content {
box-shadow:0 0 6px 0 rgba(0,0,0,0.1);
}

.pagination > li > a {
color:#666;
box-shadow:none;
-webkit-box-shadow:none;
padding:6px 10px;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
background:#f2f2f2;
color:#666;
border-color:transparent;
}

.mailbox .nav.nav-pills > li > a {
border-top:3px solid transparent;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
color:#444;
padding:15px 25px;
}

.mailbox .nav.nav-pills > li > a > i {
margin-right:5px;
width:20px;
display:inline-block;
font-size:14px;
}

.mailbox .nav.nav-pills > li.active > a,.mailbox .nav.nav-pills > li.active > a:hover {
background-color:#f6f6f6;
border-top-color:#3c8dbc;
color:#444;
}

.mailbox .nav.nav-pills > li.active > a {
font-weight:600;
}

.mailbox .nav.nav-pills.nav-stacked > li > a {
border-top:0;
border:0;
color:rgba(0,0,0,0.6);
background-color:#e3f2fd;
}

.mailbox .nav-stacked > li + li {
margin-top:1px;
}

.mailbox .nav.nav-pills > li > a:hover {
color:rgba(0,0,0,0.4);
background-color:#bbdefb;
}

.mailbox .nav-pills > li span {
margin-top:-4px;
width:30px;
text-align:center;
}

.mailbox-text {
font-size:13px;
}

.mailbox-avatar {
width:100px;
height:100px;
margin:5px 10px 0 0;
}

.mailbox-info {
background:#f0efef;
margin-bottom:10px;
padding:10px 10px 10px 0;
}

.mailbox-info .from span {
background:#dcdcdc;
margin-right:10px;
padding:10px 12px;
}

.mailbox-info .from a {
color:#5a5a5a;
}

.mailbox-info span.label {
color:#5a5a5a;
font-weight:400;
}

.mailbox-attachment {
background:#f0efef;
margin-top:15px;
line-height:30px;
padding:10px;
}

.mailbox .search-form {
margin-bottom:15px;
}

.mailbox .table tr.unread > td {
background-color:#fff8e1!important;
color:rgba(0,0,0,0.6);
font-weight:600;
}

.mailbox .table tr > td.small {
width:32px;
}

.mailbox .table tr > td.name {
font-weight:600;
width:200px;
color:rgba(0,0,0,0.6);
}

.mailbox .table tr > td.time {
text-align:right;
width:140px;
}

.mailbox .table tr > td i {
font-size:16px;
}

.mailbox .table tr > td {
vertical-align:middle;
padding:15px;
}

table.no-border td {
border:0!important;
}

.error-page .wrapper {
position:absolute;
top:50%;
left:0;
margin-top:-250px;
}

.login .lock-image {
text-align:center;
margin-bottom:20px;
}

.login .lock-image .name {
box-shadow:1px 1px 0 0 rgba(255,255,255,0.1),inset 1px 1px 3px 0 rgba(0,0,0,0.3);
background:#13212f;
color:#FFF;
border-radius:6px 0 0 6px;
display:inline-block;
margin:30px -20px 0 0;
padding:10px 25px 10px 20px;
}

.login .lock-image .img-circle {
width:100px;
box-shadow:1px 1px 0 0 rgba(255,255,255,0.1),inset 1px 1px 3px 0 rgba(0,0,0,0.3);
background:#13212f;
position:relative;
z-index:9999;
padding:4px;
}

.login .lock-image .action {
box-shadow:1px 1px 0 0 rgba(255,255,255,0.1),inset 1px 1px 3px 0 rgba(0,0,0,0.3);
background:#13212f;
color:#FFF;
margin-left:-7px;
border-radius:0 6px 6px 0;
display:inline-block;
padding:10px 2px 10px 0;
}

.login .lock-image .action a {
background:#e74c3c;
color:#FFF;
border-radius:0 6px 6px 0;
padding:8px 15px;
}

.auth-page .wrapper {
width:430px;
margin:140px auto 0;
}

.auth-page .avatar {
width:70px;
height:70px;
margin-top:-40px;
border:5px solid #FFF;
}

footer {
border-top:1px solid rgba(0,0,0,0.05);
font-size:12px;
width:100%;
color:rgba(0,0,0,0.8);
position:absolute;
bottom:0;
left:0;
padding:15px 30px 5px;
}

footer a {
color:rgba(0,0,0,0.4);
}

.checkbox.checkbox-theme label,.radio.radio-theme label {
display:inline-block;
cursor:pointer;
position:relative;
padding-left:30px;
margin-right:15px;
font-size:12px;
color:#777a80;
transition:border .2s linear 0 .2s linear 0;
}

.checkbox.checkbox-theme input[type=checkbox],.radio.radio-theme input[type=radio],.sidebar-sm header .logo span,.sidebar-sm .leftside .widget,.sidebar-sm .title,.sidebar-sm .leftside .nav-profile .info,.sidebar-sm .leftside .nav-profile .button,.sidebar-sm .leftside span,.sidebar-sm .leftside .title,.sidebar-sm .leftside i.pull-right,.leftside .widget .chat {
display:none;
}

.checkbox.checkbox-theme input[type=checkbox]:checked + label,.radio.radio-theme input[type=radio]:checked + label {
color:#4d5056;
padding-top:2px;
}

.checkbox.checkbox-theme input[type=checkbox]+ label,.radio.radio-theme input[type=radio]+ label {
padding-top:2px;
}

footer:after,.leftside .nav-sidebar > li > a:after,.nav.nav-sidebar > li > a:after,.media-footer:after,.leftside .nav-profile:after,.leftside .title:after,.panel-title:after,.page-heading:after,.panel-footer:after,.timeline-centered:after,.timeline-centered .timeline-entry:after,.timeline-centered .timeline-entry .timeline-entry-inner:after {
clear:both;
}

header .navbar .navbar-header .nav,.mailbox-attachment small {
margin-left:10px;
}

header .navbar .nav a > img,.modal-header .close {
margin-top:2px;
}

header .navbar .navbar-header,.panel > .panel-title > .panel-head,.timeline-centered .timeline-entry.left-aligned {
float:left;
}

.fixed .rightside,.fixed .leftside,.fixed-leftside .rightside,.fixed-leftside .leftside,.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
display:block;
}

.sidebar-sm header .logo > i,.leftside .nav-sidebar ul > li,.media-content.media-list > .media:last-child,.media-content .media-footer {
margin:0;
}

.alert i,.mailbox-info i {
margin-right:5px;
}

.palette-nephritis,.btn.btn-success.btn-outline:hover,.btn.btn-success.btn-outline:active,.btn.btn-success.btn-outline.hover {
background-color:#27ae60!important;
}

.palette-peter-river,.btn.btn-info.btn-outline:hover,.btn.btn-info.btn-outline:active,.btn.btn-info.btn-outline.hover {
background-color:#3498db!important;
}

.palette-carrot,.btn.btn-warning.btn-outline:hover,.btn.btn-warning.btn-outline:active,.btn.btn-warning.btn-outline.hover {
background-color:#e67e22!important;
}

.palette-alizarin,.btn.btn-danger.btn-outline:hover,.btn.btn-danger.btn-outline:active,.btn.btn-danger.btn-outline.hover {
background-color:#e74c3c!important;
}

.rightside > .page-head > .breadcrumb > li > a,.nav-tabs.tab-grey > li > a {
color:#616161;
}

.leftside .nav-sidebar > li.open > a,.leftside .nav-sidebar > li > a:hover {
color:#f6f6f6;
background:rgba(0,0,0,0.1);
}

.dropdown-box.dropdown-tasks > .dropdown-menu > li ul > li > a > h3 > small,.panel > .panel-title > .panel-tools .dropdown-menu {
margin-top:-10px;
}

.leftside .nav-profile > .info > ul > li > a:hover,.leftside .widget a:hover .name,.btn-color,.mailbox .nav.nav-pills.nav-stacked > li.active > a,.mailbox .nav.nav-pills.nav-stacked > li.active > a:hover {
color:#FFF;
}

.leftside .widget .chat ul > li.right > span,.panel > .panel-title > .panel-head > i,.media-content.media-list > .media > .pull-left,.mailbox .table tr > td.time i {
margin-right:10px;
}

.table > thead > tr > td,.mailbox .table tr > td > a,footer a:hover {
color:rgba(0,0,0,0.6);
}

#color-chooser a,.file-inputs {
color:#FFF!important;
}

.panel > .panel-title > .panel-tools,.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
float:right;
}

.panel-footer .nav-tabs > li,.timeline-centered .timeline-entry.begin {
margin-bottom:0;
}

.tab-grey,.table-responsive {
border:0;
}

.timeline-centered:before,.timeline-centered:after,.timeline-centered .timeline-entry:before,.timeline-centered .timeline-entry:after,.timeline-centered .timeline-entry .timeline-entry-inner:before,.timeline-centered .timeline-entry .timeline-entry-inner:after {
content:" ";
display:table;
}

.btn-social.btn-lg :first-child,.btn-social-icon.btn-lg :first-child {
line-height:45px;
width:45px;
font-size:1.8em;
}

.btn-social.btn-sm :first-child,.btn-social-icon.btn-sm :first-child {
line-height:28px;
width:28px;
font-size:1.4em;
}

.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket,.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook,.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr,.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin,.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter,.btn-vk:active,.btn-vk.active,.open .dropdown-toggle.btn-vk {
background-image:none;
}

#icons li:hover,#icons li.active {
color:#4F8EF7;
}

.mailbox .nav.nav-pills,.mailbox .box-bordered input,.mailbox .box-bordered textarea {
margin-bottom:10px;
}