body {
    color: #424242;
    font-size: 14px;
}

h2, h3, h4 {
	font-family: 'Helvetica Neue', 'Helvetica','Arial', sans-serif;
}

.title {
	font-weight: 600;
	line-height: 10px;
}

.doubleUnderline {
    border-bottom: 2px double;
    padding-bottom: 20px;
}

.table th, .table td {
    border: none !important;
}

.page-one, .page-two {
    page-break-after: always;
    page-break-inside: avoid;
}

.padding-top-10 {
	padding-top: 20px;
}

.padding-bottom-10 {
	padding-bottom: 20px;
}

.outline {
	outline: 1px solid #000;
}

#urine-table td {
    line-height: 15px !important;
}

.logo-bs {
    width: 678px;
    height: 147px;
    margin: 0 auto 30px auto;
}

.employee-info {
    margin-top: 60px;
    font-size: 16px;
    font-weight: bold;
}
